apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: boiler-room
  labels:
    app: mongo
spec:
  clusterIP: None
  selector:
    app: mongo
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
